.form-group {
    margin-bottom: 20px;
}

.title-group .input-with-button {
    display: flex;
    align-items: center;
}

.title-group input {
    font-size: medium;
    font-weight: bold;
    flex-grow: 1;
    margin-right: 10px;
}

.title-group button {
    font-size: medium;
    width: 100px;
    padding: 10px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.title-group button:hover:not(:disabled) {
    background-color: #45a049;
}

.title-group button:disabled {
    background-color: #dddddd;
    cursor: not-allowed;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    font-size: medium;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button[type="submit"]:hover:not(:disabled) {
    background-color: #45a049;
}

button[type="submit"]:disabled {
    background-color: #dddddd;
    cursor: not-allowed;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.image-preview img {
    max-width: 100%;
    border-radius: 4px;
}